* {
    margin: 0px;

}
body{
    background-image: url("../images/abstract-architecture-attractive-988873.jpg");
    background-size: cover;
    position: relative;
}
.section {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    background: #ffffff;
    position: absolute;
    color: #777777;
    top: 200px;
    left: 15%;
   
    
    
}
title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.about {
    margin: 25px 25px 25px 25px;
    color: #777777;
    height: 100%;
    position: relative;
    

}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
} 
h3 {
    margin: 15px;
    text-align: left;
}
h1 {
    text-align: left;
    margin-top: 10x;
    color: #4aaaa5;
    
}
img {
    float:left;
    margin: 5px;
    position: relative;
}

#top_nav {
   position: fixed;
    height: 100px;
    width:  100%;
    background-color: #ffffff;
    color: #777777;
    max-height: 100%;
    z-index: 20;
    border-bottom: 1px solid #777777;
    
}

#top_nav li {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    padding-right: 20px;
}

#top_nav ul {
    float: right;
    height: 100%;
    width: auto;
    margin-right: 25px;
    bottom: 50px;
    position: relative;
    left: 25px;
}

#logo {
    height: 50px;
    width: 100px;
    color: #ffffff; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
    font-size: 30px;
}

#top_container {
    background-color: #4aaaa5;
    width: 200px;
    height: 100px;
    position: relative;
    left: 15%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    height: 30px;
    z-index: 20;
}
.all_content {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;

}
.container {
    background-color: #ffffff;
    padding: 20px;
    width: 60%;
    height: 500px;
    margin: auto;
    position: relative;
    top: 200px;
    overflow: auto;
}
.information {
    float: left;
    text-align: left; 
    width: 80%;
    height: 50%
}

input {
    width: 50%;
    height: 20%;
}

#message{
    width: 70%;
    height: 90%;
    
}
button {
    width: 25%;
    height: 25px;
    background: #4aaaa5;
    color: #ffffff;
}

.image_container {
    position: relative;
}


.text_image1 {
    position:absolute;
    background-color: #4aaaa5;
    margin: 5px;
    margin-top: 20%;
    z-index: 10;
    width: 200px;
    height: 30px;
    font-size: 25px;
    
}
