* {
    margin: 0px;

}
body{
    background-image: url("../images/abstract-architecture-attractive-988873.jpg");
    display: flex;
    flex-direction: column;
}
.section {
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    background: #ffffff;
    position: relative;
    color: #777777;
    top: 200px;
    left: 15%;

}
title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.about {
    width: 60%;
    margin: auto;
    background-color: #ffffff;
    height: 100%;
    position: relative;

}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
} 
h3 {
    margin: 15px;
    text-align: left;
}
h1 {
    text-align: left;
    margin-top: 10x;
    color: #4aaaa5;
    
}
img {
    float:left;
}

#top_nav {
   position: fixed;
    height: 100px;
    width:  100%;
    background-color: #ffffff;
    color: #777777;
    max-height: 100%;
    z-index: 10;
    border-bottom: 1px solid #777777;
    
}

#top_nav li {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    padding-right: 20px;
}

#top_nav ul {
    float: right;
    height: 100%;
    width: auto;
    margin-right: 25px;
    bottom: 50px;
    position: relative;
    left: 25px;
}

#logo {
    height: 50px;
    width: 100px;
    color: #ffffff; 
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
    font-size: 30px;
}

#top_container {
    background-color: #4aaaa5;
    width: 200px;
    height: 100px;
    position: relative;
    left: 15%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    text-align: center;
    color: #ffffff;
    height: 30px;
}